.about-us {
  @include grid-page;

  font-family: 'Space Mono', sans-serif;

  &__background-top-black {
    grid-column: 1 / -1;
    background-image: url(../images/categories-bg-bottom.png);
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 200px;

    margin-bottom: 56px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__title {
    grid-column: 1 / -1;
    word-wrap: none;

    white-space: nowrap;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    grid-column: 1 / -1;

    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    color: #292929;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
