.button {
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $main-text-color;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 700;
  color: #fff;

  @include hover(background-color, #f8f8fa);
  @include hover(color, $main-text-color);
  @include hover(border, #f0f1f4);
  @include hover(border, 2px);

  &--category {
    @include on-desktop {
      width: 411px;
    }
  }

  &--contact-us {
    @include on-desktop {
      grid-column: 1/6;
    }
  }
}
