.categories {
  &__wrapper {
    display: grid;
    grid-gap: 40px;
  }

  @include on-tablet {
    grid-gap: 56px;
  }
}

.category {
  &__photos {
    @include grid-page;

    margin-bottom: 16px;
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
}
