.footer {
  margin-bottom: 64px;

  z-index: -1;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__contact-us {
    gap: 48px;
  }

  &__container {
    @include grid-page;

    grid-gap: 80px;
  }

  &__form {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__contacts-info {
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;

    font-family: 'Space Mono', sans-serif;

    @include on-desktop {
      grid-column: 7/-1;
    }
  }

  &__input {
    height: $height-input;
    padding: 14px 16px;

    background-color: $color-bg-input;

    border-radius: $border-radius;
    border: none;

    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    line-height: 140%;

    @include focus;
  }

  &__text-area-message {
    height: $height-text-area;

    padding: 14px 16px;
    margin-bottom: 32px;

    background-color: $color-bg-input;

    border-radius: $border-radius;
    border: none;

    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    line-height: 140%;

    @include focus;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 8px;

  &__title {
    margin: 0;

    font-size: 14px;

    color: $color-text-contacts-secondary;
  }

  &__description {
    margin: 0;

    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    color: $color-text-contacts-main;

    text-decoration: none;

    &:hover {
      color: green;
      cursor: pointer;
    }
  }
}
