.header {
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  &__bottom {
    padding-block: 0 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    font-style: bold;

    @include on-tablet {
      font-size: 48px;
    }
  }
}
