.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone-call.svg);
  }

  @include on-tablet {
    &--phone:after {
      content: '+1 234 5555-55-55';
      position: absolute;
      width: max-content;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      font-family: Inter, Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      color: #292929;
      text-align: right;
      vertical-align: middle;
      opacity: 0;
    }

    &--phone:hover:after {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.svg);
    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }
}
