.product {
  width: 100%;
  overflow: hidden;

  &__photo {
    width: 100%;

    @include hover(scale, 1.1);
  }

  &__description {
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}
