.recommended {
  &__products {
    @include grid-page;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1/-1;

    &--images {
      position: relative;
      overflow: hidden;
    }

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
