$tabled-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$color-placeholder: #7e7e83;
$color-text-contacts-main: #191919;
$color-text-contacts-secondary: #9393a3;
$color-bg-input: #f8f8fa;
$columns: 2;
$height-input: 48px;
$height-text-area: 148px;
$border-radius: 8px;
